@import url('reset.css');

body {
    font-family: 'Roboto', cursive, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3f2fd;
    color: #fff;
}

.container {
    width: 620px;
    border-radius: 20px;
    padding: 35px 44px;
    background: linear-gradient(180deg,
    rgba(49, 28, 16, 1) 17%,
    rgba(255, 255, 240, 1) 56%,
    rgba(222, 184, 135, 1) 100%);

}

.container header {
    color: #F5DEB3FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.5rem;
    background: linear-gradient(180deg,
    rgba(222, 184, 135, 0.8) 53%,
    rgba(49, 28, 16, 0.7) 71%);
    color: #F5DEB3FF;
    padding: 16px;
    border-radius: 1.3ch 1.3ch 0.2ch 0.2ch;
    text-shadow: rgb(3, 11, 52) 0 2px 8px;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 700;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: rgb(206, 171, 130);
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 4ch;
    background-color: #D3D3D3FF;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: rgb(201, 55, 55);
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: rgb(201, 55, 55);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid black;
    border-radius: 2px;
    background: linear-gradient(#fff 96%, #eee 4%);
    position: relative;
    overflow: hidden;
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 2px 2px;
    background: linear-gradient(#333, #000);
    position: relative;
    overflow: hidden;
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano-keys .white.active {
    transform: translateY(3px);
    background: #f0f0f0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 15px 30px 60px 90px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 13%,
            rgba(238, 238, 238, 1) 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 13%,
            rgba(67, 67, 67, 1) 100%);
}

.piano-keys .key.hide span {
    display: none;
}
